@body_width: 1680px;
@wrapper-width: 1110px;
@bg-color: rgba(72,36,35,1);
@bg-color-sub: rgba(98,50,50,1);
@bg-color-hover: rgba(255,144,112,1);
body {
	padding:0;
	margin:0;
	font-family: "TruenoLight", 'Times New Roman', Times, serif;
}

.nav-menu-top {
	background-color: @bg-color;
	&__wrapper {
		max-width: @wrapper-width;
		margin:0 auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		font-family: @TL;
	}
	&__list {
		list-style: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		padding: 0;
		margin: 0;
		font-size: 16px;
		&--sub {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		background-color: @bg-color;
		&:hover {
			background-color: @bg-color;
		}
		&:active {
			background-color: @bg-color;
		}
		}
	}
	&__link {
		color:white;
		text-decoration: none;
		display: block;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		&:hover {
			text-decoration: underline;
			background-color: @bg-color-hover;
		}
		&:active {
			background-color: @bg-color-hover;
		}	
	}
}

.nav-sub-menu-top {
	font-family: @TL;
	background-color: @bg-color-sub;
	&__wrapper {
	max-width: @wrapper-width;
	margin:0 auto;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	}
	&__list {
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		list-style: none;
		
	}
	&__item {
		padding: 0;
		margin: 0;
	}
	&__img {
		padding-left:00px;
		padding-top: 25px;
		padding-bottom: 20px;	
	}
	&__link[href] {
		text-decoration: none;
		color:#fff;
		display:block;
		font-size:16px;
		padding-left:20px;
		padding-right: 20px;
		padding-top: 30px;
		padding-bottom: 26px;
		border-bottom:4px solid transparent;
		&:hover {
			
			border-bottom:4px solid rgba(255,115,115,1);
			color: rgba(255,115,115,1);
		}
		&:active {
		
			border-bottom:4px solid rgba(255,115,115,1);
			color: rgba(255,115,115,1);
		}
	}
}